@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

body{
  margin:0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  background:
    radial-gradient(900px 500px at 15% 15%, rgba(99,102,241,.25), transparent 60%),
    radial-gradient(900px 500px at 85% 25%, rgba(16,185,129,.18), transparent 60%),
    radial-gradient(900px 500px at 50% 85%, rgba(236,72,153,.12), transparent 60%),
    #070A12;
  color: rgba(255,255,255,.92);
}
